.nav-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.bgImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fa9a82;
    background-size: cover;
    background-position: center;
}

.navbar{
    color: gray;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 70%;
    background-color: white;
    z-index: 5;
    padding-top: 50px;
    transition: all .5s;
}

.navbar .item{
    display: block;
    font-size: 25px;
    border-bottom: 2px solid #c3c2c2;
}
