<div style="background-image:url('assets/imgs/bgHome.png')" class="home-container">
    <div class="col-10 menu-contents">
        <div class="row">
            <div class="col-6" (click)="router.navigate(['/posts'])">
                <img src="assets/imgs/mural.png" style="max-width:70%;max-height:22vw" alt="">
                <p>MURAL</p>
            </div>
            <div class="col-6" (click)="router.navigate(['/info'])">
                <img src="assets/imgs/info.png" style="max-width:70%;max-height:22vw" alt="">
                <p>INFORMAÇÕES</p>
            </div>
            <div class="col-6" (click)="router.navigate(['/singles-meeting'])" >
                <img src="assets/imgs/solteiros.png"style="max-width:70%;max-height:22vw" alt="">
                <p>CRUSH</p>
            </div>
            <div class="col-6" (click)="router.navigate(['/playlist'])">
                <img src="assets/imgs/playlist.png" style="max-width:70%;max-height:22vw" alt="">
                <p>PLAYLIST</p>
            </div>
            <div class="col-6">
                <img src="assets/imgs/eventos.png" style="max-width:70%;max-height:22vw" alt="">
                <p>OUTROS EVENTOS</p>
            </div>
        </div>
    </div>
</div>
